@font-face {
    font-family: 'TitleFont'; /* Name your font */
    src: url('/static/beon/Beon-Regular.ttf'); /* URL to your font file */
  }
  
/*reset page spacing*/
* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background: url(/static/images/restaurant.jpg);
    background-size: cover;
  }
  
  h1 {
    color: #FFF3E7;
    font-size: 65pt;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'TitleFont';
    text-shadow:
    0 0 5px #FFF3E7,
    0 0 10px #FFF3E7,
    0 0 20px #EC6E44,
    0 0 25px #EC6E44;
  }
 
  p {
    font-size: 12pt;
    text-align: center;
    font-family: 'Verdana';
    color: #EC6E44;
  }

  #title {
    padding-top: 10%;
  }

  .hide-upload{
    opacity: 0;
  }

  .Click-to-Upload-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    background-color:#E9AA4C;
    margin-top: 20px; 
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 8px;
    border: none;
  }

  .button-text {
    color: #1d1210;
  }

  .Click-to-Upload-button:hover {
    background-color:#FFF3E7;
    box-shadow: 0 0 20px #EC6E44;
  }
  
  .Click-to-Upload-button:hover .button-text{
    color: #EC6E44;
  }