@font-face {
    font-family: 'TitleFont'; /* Name your font */
    src: url('/static/beon/Beon-Regular.ttf'); /* URL to your font file */
  }
  
/*reset page spacing*/
* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background: url(/static/images/restaurant.jpg);
    background-size: cover;
  }
  
  h1 {
    color: #FFF3E7;
    font-size: 60pt;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'TitleFont';
    text-shadow:
    0 0 5px #FFF3E7,
    0 0 10px #FFF3E7,
    0 0 20px #EC6E44,
    0 0 25px #EC6E44;
  }

  h2 {
    color: #FFF3E7;
    font-size: 30pt;
    text-align: center;
    font-family: 'TitleFont';
    text-shadow:
    0 0 5px #FFF3E7,
    0 0 10px #FFF3E7,
    0 0 20px #EC6E44,
    0 0 25px #EC6E44;
    margin-top: 100px;
  }

  h3 {
    color: #FFF3E7;
    font-size: 20pt;
    text-align: center;
    font-family: 'TitleFont';
    text-shadow:
    0 0 5px #FFF3E7,
    0 0 10px #FFF3E7,
    0 0 20px #EC6E44,
    0 0 25px #EC6E44;
  }
 
  p {
    font-size: 12pt;
    text-align: center;
    font-family: 'Verdana';
    color: #1d1210;
  }

  #title {
    padding-top: 10%;
  }

  .hide-upload{
    opacity: 0;
  }

  .Click-to-Upload-button {
    position: absolute;
    left: 50%;
    height: auto;
    transform: translateX(-50%);
    background-color:#E9AA4C;
    margin-top: 20px; 
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 8px;
    border: none;
  }

  .Submit-button {
    position: absolute;
    left: 50%;
    height: auto;
    transform: translateX(-50%);
    background-color:#E9AA4C;
    margin-top: 50px; 
    margin-bottom: 150px;
    padding: 10px;
    border-radius: 8px;
    border: none;
  }

  .button-text {
    color: #1d1210;
  }

  .Click-to-Upload-button:hover {
    background-color:#FFF3E7;
    box-shadow: 0 0 20px #EC6E44;
  }
  
  .Click-to-Upload-button:hover .button-text{
    color: #EC6E44;
  }

  #result-section{
    padding-top:50px;
    padding-bottom:35px;
  }

  .uploaded-image{
    width: 150px;
    display: flex; /* Use flexbox to center the image */
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
    left:40%;
  }
  
  .outer-container{
    background-color: rgba(233,170,76,0.5);
    border: 10px solid #FFF3E7;
    width: 800px;
    margin: 0 auto;
    margin-top: 65px;
    border-radius: 10px; /* Optional: Add rounded corners to the container */
    box-shadow: 0 0 20px 10px rgba(233,170,76,0.5); /* Apply glow effect */
    padding-bottom: 50px;
  }

  .image-area{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-area uploaded-image {
    max-width: 100%; /* Ensure the image does not exceed the container's width */
    max-height: 100%; /* Ensure the image does not exceed the container's height */
}