<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/styles.css">
    <title> Pasta </title>
  </head>

<body>

<div class="container py-5">

  <section id="default">
      <div class="wrapper">
          <div class="container">
          <h1 id="title"> PASTA DETECTOR </h1>
          <p> *placeholder text* Don't know what noodle this is? Upload your photo and we will see. </p>
          </div>
      </div>
  </section>
    <!--From layout-->
        <div class="row py-4">
            <div class="col-lg-6 mx-auto">

            <!-- Upload image input-->
            <form action="{{ url_for('predict_image_file') }}" enctype="multipart/form-data" method="POST">
                <input class="hide-upload" id="upload" name="file" type="file">
                <label class="Click-to-Upload-button" for="upload"><p class="button-text">Choose file</p></label>
    
                <!-- Uploaded image area-->
                <p class="font-italic text-white text-center">The image uploaded will be rendered inside the box below.</p>
                <div class="image-area mt-4"><img alt="" 
                    class="img-fluid rounded shadow-sm mx-auto d-block" id="imageResult" name="imageResult" src="#"></div>

                <!-- Submit button-->
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <input class="Click-to-Upload-button" type="submit"/>
                        </div>
                    </div>
                </div>
            
            </form>

            </div>
        </div>

</div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='js/image_upload.js')}}"></script>
  </body>
</html>