<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title> Pasta Detector </title>
  </head>

  <body>
  
  <section id="default">
    <div class="wrapper">
      <div class="container">
        <h1 id="title"> PASTA DETECTOR </h1>
        <p> *placeholder text* Don't know what noodle this is? Upload your photo and we will see. </p>
        <button class="Click-to-Upload-button"><p class="button-text"> Click to Upload!</p></button>
      </div>
    </div>
  </section>

  </body>
</html>